@font-face {
  font-family: "NovaCut";
  src: url("./public/fonts/novaCut-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PasseroOne";
  src: url("./public/fonts/PasseroOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #d85e2a;
  background: radial-gradient(
    circle,
    rgba(216, 94, 42, 1) 0%,
    rgba(216, 94, 42, 1) 35%,
    rgba(0, 0, 0, 1) 100%
  );
}

#navbar__logo {
  border: 8px solid #d85e2a;
}

#navbar__button {
  background-color: #d85e2a;
}
