@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: radial-gradient(
      circle at left bottom,
      rgba(210, 70, 0, 1) 7%,
      rgba(183, 10, 10, 1) 46.9%,
      rgba(210, 70, 0, 1) 70.1%
    ),
    radial-gradient(
      circle at right bottom,
      rgba(210, 70, 0, 1) 15.9%,
      rgba(183, 10, 10, 1) 46.9%,
      rgba(210, 70, 0, 1) 85.1%
    );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
}

.link {
  background: linear-gradient(90deg, #d91e36, #da344d, #ec5766, #ef7674);
  background-clip: text;
  color: transparent;
}

.gradient-text {
  background: linear-gradient(90deg, #d91e36, #da344d, #ec5766, #ef7674);
  background-clip: text;
  color: transparent;
}
.gradient-text:hover {
  background: linear-gradient(90deg, #ef7674, #ec5766, #da344d, #d91e36);
  background-clip: text;
  color: transparent;
}

.link:hover {
  background: linear-gradient(90deg, #ef7674, #ec5766, #da344d, #d91e36);
  background-clip: text;
  color: transparent;
}

button {
  background: linear-gradient(90deg, #ef7674, #ec5766, #da344d, #d91e36);
  border-radius: 15px;
  height: 45px;
  width: 150px;
  background-position: left;
  transition: background-position 2s;
}

button:hover {
  background-image: linear-gradient(to left, #f94c10, #f8de22, #c70039);
  background-size: 150%;
  background-position: right;
}

li {
  cursor: pointer;
  background: linear-gradient(90deg, #ef7674, #ec5766, #da344d, #d91e36);
  background-size: 0% 2.5px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 350ms ease;
  text-decoration: none;
}

li:hover {
  background-size: 100% 3px;
}

.logo {
  border: 8px solid #d85e2a;
}

.nickname:hover {
  background: linear-gradient(90deg, #ef7674, #ec5766, #da344d, #d91e36);
  background-clip: text;
  color: transparent;
}
