@import url("https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Iceberg&family=Orbitron:wght@400..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: radial-gradient(
      circle at left bottom,
      rgba(210, 70, 0, 1) 7%,
      rgba(183, 10, 10, 1) 46.9%,
      rgba(210, 70, 0, 1) 70.1%
    ),
    radial-gradient(
      circle at right bottom,
      rgba(210, 70, 0, 1) 15.9%,
      rgba(183, 10, 10, 1) 46.9%,
      rgba(210, 70, 0, 1) 85.1%
    );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(
    circle,
    rgba(0, 18, 51, 1) 21.43%,
    rgba(6, 11, 47, 1) 52%,
    rgba(3, 5, 37, 1) 69%
  );
}

.active {
  background-size: 100% 3px;
}

.buttons {
  background: linear-gradient(240deg, #fcb045 20%, #fe5000 50%);
  background-position: left;
  transition: background-position 2s;
}

.buttons:hover {
  background-image: linear-gradient(to left, #fe5000, #fcb045, #c70039);
  background-size: 150%;
  background-position: right;
}

.secondary-buttons {
  background: linear-gradient(90deg, #fe5000 20%, #fcb045 50%);
  color: transparent;
  background-clip: text;
  transition: color 350ms ease;
}

.secondary-buttons:hover {
  background: linear-gradient(90deg, #fcb045 20%, #fe5000 50%);
  background-clip: text;
}

li {
  cursor: pointer;
  background: linear-gradient(90deg, #ef7674, #ec5766, #da344d, #d91e36);
  background-size: 0% 2.5px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 350ms ease;
  text-decoration: none;
}

li:hover {
  background-size: 100% 3px;
}

.screens {
  @apply xxl:max-w-[1320px] xl:max-w-[1140px] lg:max-w-[960px] md:max-w-[720px] sm:max-w-[540px];
}

.buttons {
  @apply h-[50px] w-[150px] text-[18px] font-bold rounded-[14px] text-primary;
}

.secondary-buttons {
  @apply text-[22px];
}

.icons {
  @apply text-primary cursor-pointer;
}
